<article id="<%= post.slug %>"
  class="article white-box article-type-<%= post.layout %>"
  itemscope itemprop="blogPost">

  <header class="article-header">
    <h1 class="article-title" itemprop="name">
      <%= post.sec %> <%= post.title %>
    </h1>
    <div class="article-meta">
      发表于
      <time class="article-time" datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
        <%= date(post.date, "YYYY , MMM D") %>
      </time>
    </div>
  </header>

  <div class="article-entry" itemprop="articleBody">
    <%- post.content %>
  </div>
  
</article>
