<div class="site-sidebar">

    <div class="site-bio show">

        <!-- About Me -->
        <div class="about-me clearfix">
            <div class="avatar">
                <img src="<%- url_for(theme.author_avatar) %>"/>
            </div>
            <div class="info">
                <a class="name dark-btn" href="<%- url_for() %>about">
                    <%- config.author %>
                </a>
            </div>
            <div class="info">
	      <span class="item desc">
	        <%- config.description %>
	      </span>
            </div>
        </div>

        <!-- Catalog -->
        <ul class="catalog clearfix">
            <% site.posts.sort('sec', 1).each(function(post){ %>
                <li><a data-id="#<%= post.slug %>" class="catalog-item"><%= post.sec %> <%= post.title %></a></li>
            <% }) %>
        </ul>

    </div>

</div>
